In [1]:
from JGBScraping import JGBScraping

In [2]:
jgbs = JGBScraping()

In [3]:
df = jgbs.getAllData()
df.head()

,JGB_1Y,JGB_2Y,JGB_3Y,JGB_4Y,JGB_5Y,JGB_6Y,JGB_7Y,JGB_8Y,JGB_9Y,JGB_10Y,JGB_15Y,JGB_20Y,JGB_25Y,JGB_30Y,JGB_40Y
1974-09-24,10.327,9.362,8.83,8.515,8.348,8.29,8.24,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-25,10.333,9.364,8.831,8.516,8.348,8.29,8.24,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-26,10.34,9.366,8.832,8.516,8.348,8.29,8.24,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-27,10.347,9.367,8.833,8.517,8.349,8.29,8.24,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-28,10.354,9.369,8.834,8.518,8.349,8.291,8.24,8.122,8.129,NaN,NaN,NaN,NaN,NaN,NaN